<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyndsAI NLP test</title>
</head>
<body>
    <h1 style="margin-left: 10px;">MyndsAI NLP test</h1>

    <input type="text" size="50" id="string" style="margin: 10px;"></br>
    <input type="button" id="submit-input" value="Submit" style="margin: 10px;">

    <div id="response" style="margin: 10px;"></div>

    <h1 style="margin-top: 20px; margin-left: 10px;">NER betanító mondat generálás</h1>
    <label for="ner_sentence">Mondat:</label>
    <input type="text" size="50" id="ner_sentence" style="margin: 10px;"></br>
    <label for="entities">Entitások, vesszővel elválasztva:</label>
    <input type="text" size="50" id="entities" style="margin: 10px;"></br>
    <input type="button" id="submit-ner-sentence" value="Submit" style="margin: 10px;">

    <div id="ner_error_message" style="margin: 10px;"></div>

</body>
<script>
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    document.getElementById("submit-ner-sentence").onclick = function(){

        var nerSentence = document.getElementById("ner_sentence").value;

        var entities = document.getElementById("entities").value;

        var data = JSON.stringify({
          "nerSentence": nerSentence,
          "entities": entities
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: data,
            redirect: 'follow'
        };

        fetch("/create-ner-sentence", requestOptions)
        .then(response => {
            if (response.status == 200){
                document.getElementById("ner_sentence").value = ""
                document.getElementById("entities").value = ""
            } else if(response.status == 500){
                document.getElementById("error_message").value = "Hiba történt a kérés feldolgozása során";
            }
        })
        .then(result => console.log(result))
    }

    document.getElementById("submit-input").onclick = function(){

        var submitString = document.getElementById("string").value;

        var responseDiv = document.getElementById('response');

        var raw = JSON.stringify({
          "entityString": submitString
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("/getintent", requestOptions)
        .then(response => response.text())
        .then(result => {
            var data = "";
            for (let i = 0; i < JSON.parse(result).primary_intent.other_intent.length; i++) {
               data += "név: " + JSON.parse(result).primary_intent.other_intent[i].name + " érték: " + JSON.parse(result).primary_intent.other_intent[i].percentage + '</br>';
            }
            responseDiv.innerHTML += 'Értékelt mondat: ' +  document.getElementById("string").value + '</br>' +
                'Elsődleges szándék: ' + JSON.stringify(JSON.parse(result).primary_intent.intent.intent_name) + ', ' + JSON.stringify(JSON.parse(result).primary_intent.intent.intent_percentage) + '</br>' +
                'Többi szándék : '+ '</br>' + data +
                'Paraméter név: ' + JSON.parse(result).param_name + '</br>' +
                'Paraméter érték: ' + JSON.parse(result).param_value + '</br>' + '</br>' +
                'Helyadatok: ' + JSON.parse(result).locations + '</br>' + '</br>'
            })
        .catch(error => console.log('error', error));
    }
</script>
</html>
