<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyndsAI NLP test</title>
</head>
<body>
    <h1 style="margin-left: 10px;">MyndsAI NLP test</h1>

    <input type="text" size="50" id="string" style="margin: 10px;"></br>
    <input type="button" id="submit-input" value="Submit" style="margin: 10px;">

    <div id="response" style="margin: 10px;"></div>
</body>
<script>
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    document.getElementById("submit-input").onclick = function(){

        var submitString = document.getElementById("string").value;

        var responseDiv = document.getElementById('response');

        var raw = JSON.stringify({
          "entityString": submitString
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("/getcat", requestOptions)
        .then(response => response.text())
        .then(result => {
            var data = "";
            for (let i = 0; i < JSON.parse(result).primary_intent.other_intent.length; i++) {
               data += "név: " + JSON.parse(result).primary_intent.other_intent[i].name + " érték: " + JSON.parse(result).primary_intent.other_intent[i].percentage + '</br>';
            }
            responseDiv.innerHTML += 'Értékelt mondat: ' +  document.getElementById("string").value + '</br>' +
                'Elsődleges szándék: ' + JSON.stringify(JSON.parse(result).primary_intent.intent.intent_name) + ', ' + JSON.stringify(JSON.parse(result).primary_intent.intent.intent_percentage) + '</br>' +
                'Többi szándék : '+ '</br>' + data +
                'Paraméter név: ' + JSON.parse(result).param_name + '</br>' +
                'Paraméter érték: ' + JSON.parse(result).param_value + '</br>' + '</br>'
            })
        .catch(error => console.log('error', error));
    }

</script>
</html>